/* https://www.colorhexa.com/edc9af */
body {
    background: white;
}
#log {
    background: #333;
    color: #ddd;
}
#canvas_wrapper {
  overflow: scroll;
  background: #333;
}
#canvas_wrapper canvas {
  background: #ffffff;
  margin: 50px;
}
canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#canvas_demo {
  border: 5px solid #ddd;
}

/* Grid.
 ------------------------------------------------------------------------------ */
.column, .columns { width: 100%; float: left; box-sizing: border-box; margin: 0; }
.one.column,
.one.columns { width: 10%; }
.two.columns { width: 20%; }
.three.columns { width: 30%; }
.four.columns { width: 40%; }
.five.columns { width: 50%; }
.six.columns { width: 60%; }
.seven.columns { width: 70%; }
.eight.columns { width: 80%; }
.nine.columns { width: 90%; }
.ten.columns { width: 100%; }

/* /Components.
 ------------------------------------------------------------------------------ */
hr { border: 1px solid #555; border-top: 0; }

button {
  padding: 5px 10px;
  border: 1px solid #333;
  margin: 0 5px 5px 0;
  background: #555;
  color: white; }
button:hover { background: #444; }
button:active { background: #333; }
input,
select {
  border: 1px solid #333;
  background: #555;
  color: white;
  margin: 0 5px 5px 0;
}
select {
  resize: vertical;
  width: 100%;
}
